.collapse-geozone {
position: absolute;
top: 50px;
left: 0px;
z-index: 1000;
}
.collapse {
    background-color: white;
}

.list-btn {
    border-radius: 5px;
    border:1px solid gray;
    display: inline-block;
    /* padding: 5px; */
}
